<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestAutomationPractive">
	<listeners>
		<listener class-name="ePay_CRM.Reusable_Utils.CallListeners" />
	</listeners>


	<test thread-count="5" name="Blogspot">
		<parameter name="BrowserValue" value="chrome" />

		<classes>
		<class 
				name="com.pivotree.auto.training.TC_FillPersonalDetails" />
			<class
				name="com.pivotree.auto.training.TC_DynamicHandlingCheckBoxes" />
			<class
				name="com.pivotree.auto.training.TC_SelectDateFromPicker" />
			<class
				name="com.pivotree.auto.training.TC_IdentifyMax_MinBookDetails" />
			<class
				name="com.pivotree.auto.training.TC_ValidateDateErros" />
			<class
				name="com.pivotree.auto.training.TC_HandlingAutoSuggestDropdowns" />
			<class
				name="com.pivotree.auto.training.TC_DynamicTabNavigation" />
			<class
				name="com.pivotree.auto.training.TC_captureScreenshotsWhileNavigatingTabs" />
			<class
				name="com.pivotree.auto.training.TC_ScrollToElementAndCapture" />
			<class
				name="com.pivotree.auto.training.TC_LogFailureTestCase" />
			<class
				name="com.pivotree.auto.training.TC_LogSoftAssertFailures" />
			<class
				name="com.pivotree.auto.training.TC_ProductSelectionAutomation" /> 
				
				
				
		</classes>
		</test> <!-- Blogspot -->
</suite> <!-- TestAutomationPractive -->

